.card {
    display: flex;
    background: var(--white);
    padding: 1rem;
    margin: 0.2rem 0;
    border-radius: 0.2rem;
    cursor: pointer;
}

.char-img {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    margin: 0 0.8rem;
    background: var(--unknown);
}

.char-name {
    font-size: 0.9rem;
    font-weight: 600;
}

.status {
    font-size: 0.74rem;
    font-weight: 500;
}

.status-icon {
    display: block;
    border-radius: 1rem;
    margin: 0 0.4rem;
    width: 0.7rem;
    height: 0.7rem;
}

.alive {
    background-color: var(--alive);
}

.dead {
    background-color: var(--dead);
}

.unknown {
    background-color: var(--unknown);
}

.partl {
    display: flex;
    width: 50%;
    align-items: center;
}

.partr {
    display: flex;
    width: 50%;
    align-items: center;
}