@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
  --light-blue: #F5F6F8;
  --white: #ffffff;
  --logo: #303030;
  --placeholder: #518580;
  --text: #404044;
  --label: #9b9b9b;
  --alive: #24ff78;
  --unknown: #bbbbbb;
  --dead: #ff6d6d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif, Helvetica;
}

body {
  background: var(--light-blue);
}

.container {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}